/*
  Layout the core sections of the site.
*/
#page {
  margin: 0 5%;
  min-width: 760px;
  text-align: left; /* This is to set things right after centering everything in the body. */
}

#header {
  overflow: hidden;
}

#wrapper {
  width: 100%;
}

#subwrapper {
  float: left;
  width: 100%;
}

#container {
  float: right;
  width: 100%;
}

#container .content {
  overflow: hidden;
}

/* 3 column layout */
body.sidebars #subwrapper {
  margin-right: -150px;
}

body.sidebars #container {
  margin-left: -200px;
}

body.sidebars #main_supplements {
  float: left;
  width: 200px;
}

body.sidebars #secondary_supplements {
  float: right;
  width: 150px;
}

body.sidebars #container #content {
  margin: 0 150px 0 200px;
  padding: 0 1em;
}

/* 2 column layout (main) */
body.main-sidebar #container {
  margin-left: -200px;
}

body.main-sidebar #main_supplements {
  float: left;
  width: 200px;
}

body.main-sidebar #container #content {
  margin-left: 200px;
  padding: 0 0 0 1em;
}

/* 2 column layout (secondary) */
body.secondary-sidebar #subwrapper {
  margin-right: -150px;
}

body.secondary-sidebar #secondary_supplements {
  float: right;
  width: 150px;
}

body.secondary-sidebar #container #content {
  margin-right: 150px;
  padding: 0 1em 0 0;
}
